<div class="info-container">
  {{#with college}}
    <div class="introduction">
      <div class="introduction-content">
        <div class="imgContainer">
          <img src="{{img}}" alt="" class="uniLogo" />
        </div>
        <div class="introduction-text">
          <h1>{{name}}</h1>
          <div class="location">
            <i class="fa-solid fa-location-dot"></i>
            <p class="address">{{address}}</p>
          </div>
        </div>
      </div>
      <div>
        <button class="saveUni" type="submit"><i
            class="fa-regular fa-bookmark icon-save"
          ></i></button>
      </div>
    </div>

    {{#if history}}
      <h2 class="heading">Lịch sử hình thành và phát triển</h2>
      <p>{{history}}</p>
    {{else}}
    {{/if}}
    {{#if facility}}
      <h2 class="heading">Cơ sở vật chất</h2>
      <p>{{facility}}</p>
    {{else}}
    {{/if}}
    <div class="table-container">
      <table border="1">
        <thead>
          <tr>
            <th>Ngành đào tạo</th>
          </tr>
        </thead>
        <tbody>
          {{#each subject}}
            <tr>
              <td>{{this}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  {{/with}}
</div>
<div class="total-contai-comment">
  <h2 class="commenttile">Đánh giá
    <img src="/img/tool_imgs/down2.png" class="dropdowncommentimg" /></h2>
  <div class="commentcontai">
    <div class="commentlist">
      <div class="commentPost-area">
        <form action="">
          <textarea
            name="comment"
            id="Comment"
            placeholder="Nhập bình luận mới của bạn"
            class="commentMsg"
          ></textarea>
          <button type="submit" class="btn-hover color-9 commentSubmitBtn">Tạo
            bình luận</button>
        </form>
      </div>
      <div class="comment-area"></div>
    </div>
  </div>
</div>
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>