<div class="info-container">
  {{#with college}}
    <h1>{{name}}</h1>
    {{#if history}}
      <h2>Lịch sử hình thành và phát triển</h2>
      <p>{{history}}</p>
    {{else}}
    {{/if}}
    {{#if facility}}
      <h2>Cơ sở vật chất</h2>
      <p>{{facility}}</p>
    {{else}}
    {{/if}}
  {{/with}}
  <h2>Ngành đào tạo</h2>
  <table border="1">
    <tr>
      <th>Ngành đào tạo</th>
    </tr>
    {{#each college.subject}}
      <tr>
        <td>{{this}}</td>
      </tr>
    {{/each}}
  </table>
</div>